<template name="main">
<head>
<title>FB App</title>
</head>
    <body>
{{> header}}
    <div class="container">
        <div id="main">
            {{> yield}}
        </div>
    </div>
</body>
</template>


<template name="header">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
                 <ul class="nav navbar-nav">
                     <li><a href="/campaign">Campaigns</a></li>
                </ul>
         </div>
    </nav>
</template>